#routes-table{
    color:white;
    background-color:#004080;
    margin:32px;
    padding:16px;
}

#routes-title{
    display:flex;
    justify-content:center;
}


#routes-body{
    color:white;
    background: rgba(255, 255, 255, 0.2);
    padding:8px;
}