/* ShipNGo/styles/store.css */

/* Store styling */

/* Whole item container */
.items{
    background-color:#004080;
    border-radius:25px;
    margin:32px;

}

/* holds the title for the items div */
.item-title{
    display:flex; 
    justify-content:center; 
    color:white; 
    margin-top:16px;
}

/* contains all of the store_item divs */
.item-list{
    background: rgba(255, 255, 255, 0.2); 
    margin:16px 32px; 
    border-radius:15px;
    padding:0px 16px;
}

/* individual store item */
.store_item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    color: white;
    margin: 0px 16px;
    padding: 8px 0px;
    gap:70px;
    border-radius: 15px;
}

/* holds the purchase buttons and select */
.price {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 16px;
}

/* purchase buttons */
.cart {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin-bottom: 10px;
    background-color: white;
    color: #004080;
    font-size: 15px;
    width: 75px;
    height: 25px;
    border-radius: 5px;
}

/* checkout container */
.checkout {
    display:flex;
    align-items: center;
    flex-direction:column;
    background-color: #004080;
    color: white;
    width: 650px;
    height: 500px;
    border-radius: 25px;
    margin: 32px 40px;
    padding:16px;
}

/* outputs cart total */
.total{
    display:flex;
    justify-content:center;
    gap:20px;
    background: rgba(255, 255, 255, 0.2);
    padding:10px;
    border-radius: 8px;
    margin-bottom: 35px;
    width:95%;
}

/* holds all of the subitems in checkout div */
.checkout-items{
    display:flex;
    justify-content:center;
    justify-content:space-between;
    flex-direction:column;
    gap:20px;
    background: rgba(255, 255, 255, 0.2);
    padding:10px;
    border-radius: 10px;
    margin-bottom: 15px;
    width:95%;
}
 
/* formatting for the whole page */
.store_page {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    margin:32px 30px ;
}

